*{
	padding: 0px;
	margin: 0px;
}

/* Grid Principal */

#wrapper{
	display: grid!important;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	justify-content: center;
}

/*Larguras*/
.sp-1 {grid-column: span 1;}
.sp-2 {grid-column: span 2;}
.sp-3 {grid-column: span 3;}
.sp-4 {grid-column: span 4;}
.sp-5 {grid-column: span 5;}
.sp-6 {grid-column: span 6;}
.sp-7 {grid-column: span 7;}
.sp-8 {grid-column: span 8;}
.sp-9 {grid-column: span 9;}
.sp-10{grid-column: span 10;}
.sp-11{grid-column: span 11;}
.sp-12{grid-column: span 12;}
.sp-full{grid-column: 1 / -1;}

header, #events,#news, #suscribe, footer {padding: 40px 100px;}

header{
	text-align: center;
	padding: 10px 50px;
}

#slider{
	height: 450px;
}

/* ------------------------------------------
/* Grid header */

header{
	display: grid;
	grid-template-columns: 20% auto 20%;
	align-items: center;
}

/* ------------------------------------------
/* Grid Events */

#events {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	position: relative;
}

/* ------------------------------------------
/* Grid News */

#news {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 180px 180px;
	grid-gap: 10px;
}

.n-big{
	grid-row: span 2;
}

/* ------------------------------------------
/* Grid Suscribe */

#suscribe {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-gap: 40px;
	position: relative;
}

/* ------------------------------------------
/* Grid Footer */

footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 40px;
}



/*Responsivo*/

@media screen and (max-width: 1200px)
{

	#events {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
	}

}



@media screen and (max-width: 800px)
{
	header, #events,#news, #suscribe, footer {padding: 40px 20px;}

	header{
		grid-template-columns: repeat(1, 1fr);
	}

	#header-logo{
		grid-column: 1 / span 2;
		grid-row: 1;
	}
	nav {
		grid-column: 1 / span 2;
		grid-row: 3;
	}
	#header-socials{
		grid-column: 2 / span 1;
		grid-row: 2;
	}

	#events {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 30px;
	}


	#news {
		grid-template-columns: repeat(1, 1fr);
	}

	#news .image{
		min-height: 180px;
	}

	#suscribe {
		grid-template-columns: repeat(1, 1fr);
	}

	footer {
		grid-template-columns: repeat(1, 1fr);
	}
}